<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658843660337-cvcrb1kip29j3475ipa6dfhgd8p7ovla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658843660337-cvcrb1kip29j3475ipa6dfhgd8p7ovla</string>
	<key>API_KEY</key>
	<string>AIzaSyABJcY21q33y06HJ2DIqI4WQ5-Mi0DQhbs</string>
	<key>GCM_SENDER_ID</key>
	<string>658843660337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doorhingeapps.PBT-Tournaments</string>
	<key>PROJECT_ID</key>
	<string>pbttournaments</string>
	<key>STORAGE_BUCKET</key>
	<string>pbttournaments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658843660337:ios:f0f4005c25d75e7c472510</string>
</dict>
</plist>